/*
   Site.css

   Copyright 2016 Survalyzer AG. All rights reserved.
  */
:focus { outline: none; }
::-ms-clear { display: none; }
html, body { 
  height: 100%;
  min-height: 100%;
}
body { 
  margin: 0; 
  padding: 0; 
}
img { 
  border: none; 
  outline: none 
}
label, span { 
  display: inline-block; 
}
button, input, select, textarea, div, span, label { 
  font-size: 100%; 
  margin: 0; 
  vertical-align: baseline; 
}
input[type="checkbox"], input[type="radio"] { 
  border: 0; 
  margin: 4px 4px 4px 0; 
  padding: 0; 
}
textarea { 
  overflow: auto; 
  resize: vertical;
  vertical-align: top; 
}



/* ========= */
/* = Fonts = */
/* ========= */


/* ========== */
/* = Layout = */
/* ========== */

HTML{
  height: 100%;
}

body.rsp-body{
  max-width:100%;
}

#header, #content { 
  margin: 0 auto;
  max-width: 1000px; 
}

#wrapper {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  width: 100%; 
}

#wrap-header {
  width: 100%;
}

#wrap-header{
   border-bottom: solid 1px #fbd79d;
}

#header {
  width: 1000px;
  margin: 0 auto;
}

#logo {
  display:block;
  height: 100px;
  width: 189px;
  background: url("../img/logo.png") no-repeat;
  background-position: left center;
}

#wrap-content {

  width: 100%;

}
#content { 
  width: 1000px;
  margin: 1em auto;
  padding: 0;
  min-height: 300px;
  overflow: auto;
}

#wrap-footer {
  width: auto;
  margin: 0 auto
}

#footer1{
  background: #7a2182;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: #f9f9f9;
  padding: 1em 0.3em;
}

#footer1 p{
  margin: .3em;
}

#footer1 a{
  color: #a26eb3;
  font-weight: bold;
  text-decoration: none;
}

#footer2container{
  height: 75px;
  width: 1000px;
  margin: 0 auto;
}
#footer2a{
  float: left;
  background: #FFF;
  color: #999;
  padding: 25px 0;
}

#footer2a a{
  font-size: .9em;
  text-decoration: none;
  color: #999
}

#footer2b{
  float: right;
  width: 189px;
  height: 90px;
  background: url("../img/logo.png") no-repeat;
  background-position: 0 50%;
}

#footer3{
  width: auto;
  clear: both;
  margin: 0 auto;
  padding: .4em;
  text-align: center;
  border-top: #999 1px solid;
}

.rsp-progress-container {
    padding: 10px 36px;
}

.rsp-question {
    padding: 36px;
}

.rsp-controls {
    margin: 0 36px 36px;
}

/* ============== */
/* = Responsive = */
/* ============== */


@media (max-width: 1000px) {
  HTML{
    height:100%;
    -webkit-text-size-adjust: none;
  }
  
  #header, #content, #footer2container {
    height: auto; 
    padding: 0 3%; 
    width: 94%;
    overflow: auto; 
  }

  #logo {
  background: url("../img/logo@2x.png") no-repeat;
  background-size: 189px auto;
  background-position: left center;
}

  #footer2b{
    display: none;
  }

  .radioSelect{max-width: 150px;}
  .nqquestion {font-size:16px; }
  select.nqinput{min-width:120px;}
  .nqmatrixeven, .nqmatrixodd {border-bottom:2px solid #666;}
  .matrix-Question {width:100%;}
  .nqbutton  {
    font-size:18px;
  }

  .rsp-progress-container {
      padding: 10px 12px;
  }

  .rsp-question {
      padding: 12px;
  }

  .rsp-controls {
    margin: 0 12px 12px;
  }
}


@media (max-width: 320px) {
    body.rsp-body {
        margin: 0 auto;
        padding: 0;
    }

    .header {
        padding: 0 6px;
    }

    .rsp-progress-container {
        padding: 10px 12px;
    }

    .rsp-question {
        padding: 12px;
    }

    .rsp-controls {
        margin: 0 6px 6px;
    }
}

/* ============== */
/* = Typography = */
/* ============== */

body,
body.rsp-body,
.rsp-question-text,
.rsp-single-container > ul > li > label,
.rsp-multiple-container > ul > li > label,
.rsp-single-container > ul > li > label .rsp-text,
.rsp-multiple-container > ul > li > label .rsp-text,
.rsp-matrix-container .rsp-table,
.rsp-matrix-container .rsp-text,
.rsp-progress-container label,
textarea,
.rsp-slider-container .rsp-slider-answer {
  color: #666;
  font-family: "Open Sans",sans-serif;

}


/* h1 */

body.rsp-body h1,
.rsp-question-text h1,
.rsp-single-container > ul > li > label h1,
.rsp-multiple-container > ul > li > label h1,
.rsp-single-container > ul > li > label .rsp-text h1,
.rsp-multiple-container > ul > li > label .rsp-text h1,
.rsp-matrix-container .rsp-table h1,
.rsp-matrix-container .rsp-text h1,
.rsp-progress-container label h1,
textarea h1,
.rsp-slider-container .rsp-slider-answer h1 {
    color: #000;
}


/* h2 */

body.rsp-body h2,
.rsp-question-text h2,
.rsp-single-container > ul > li > label h2,
.rsp-multiple-container > ul > li > label h2,
.rsp-single-container > ul > li > label .rsp-text h2,
.rsp-multiple-container > ul > li > label .rsp-text h2,
.rsp-matrix-container .rsp-table h2,
.rsp-matrix-container .rsp-text h2,
.rsp-progress-container label h2,
textarea h2,
.rsp-slider-container .rsp-slider-answer h2 {
    color: #767676;
}


/* h3 */

body.rsp-body h3,
.rsp-question-text h3,
.rsp-single-container > ul > li > label h3,
.rsp-multiple-container > ul > li > label h3,
.rsp-single-container > ul > li > label .rsp-text h3,
.rsp-multiple-container > ul > li > label .rsp-text h3,
.rsp-matrix-container .rsp-table h3,
.rsp-matrix-container .rsp-text h3,
.rsp-progress-container label h3,
textarea h3,
.rsp-slider-container .rsp-slider-answer h3 {
    color: #A8A8A8;
}


/* h4 */

body.rsp-body h4,
.rsp-question-text h4,
.rsp-single-container > ul > li > label h4,
.rsp-multiple-container > ul > li > label h4,
.rsp-single-container > ul > li > label .rsp-text h4,
.rsp-multiple-container > ul > li > label .rsp-text h4,
.rsp-matrix-container .rsp-table h4,
.rsp-matrix-container .rsp-text h4,
.rsp-progress-container label h4,
textarea h4,
.rsp-slider-container .rsp-slider-answer h4 {
    color: #A8A8A8;
}


/* h5 */

body.rsp-body h5,
.rsp-question-text h5,
.rsp-single-container > ul > li > label h5,
.rsp-multiple-container > ul > li > label h5,
.rsp-single-container > ul > li > label .rsp-text h5,
.rsp-multiple-container > ul > li > label .rsp-text h5,
.rsp-matrix-container .rsp-table h5,
.rsp-matrix-container .rsp-text h5,
.rsp-progress-container label h5,
textarea h5,
.rsp-slider-container .rsp-slider-answer h5 {
    color: #A8A8A8;
}


/* h6 */

body.rsp-body h6,
.rsp-question-text h6,
.rsp-single-container > ul > li > label h6,
.rsp-multiple-container > ul > li > label h6,
.rsp-single-container > ul > li > label .rsp-text h6,
.rsp-multiple-container > ul > li > label .rsp-text h6,
.rsp-matrix-container .rsp-table h6,
.rsp-matrix-container .rsp-text h6,
.rsp-progress-container label h6,
textarea h6,
.rsp-slider-container .rsp-slider-answer h6 {
    color: #A8A8A8;
}





/* ================== */
/* = Text inflation = */
/* ================== */

body.rsp-body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/* ========= */
/* = Links = */
/* ========= */

a,
a:active,
a:visited:hover,
a:visited:active {
    color: #525199;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #AB0066;
}


/* =========================== */
/* = Survey content elements = */
/* =========================== */

.rsp-question {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.rsp-question-text {
    font-size: 16px;
}

@media (max-width: 1000px) {
    .rsp-question-text {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .rsp-question-text {
        font-size: 14px;
    }
}

/* ------------------------------------------ */
/* --------- answer: background-color ------- */
/* ------------------------------------------ */
.rsp-single-container > ul > li > label,
.rsp-multiple-container > ul > li > label,
.rsp-matrix-container .rsp-table > thead > tr,
.rsp-matrix-container .rsp-table > tbody > tr > td.rsp-formfield > label:hover,
.rsp-slider-container .ui-slider-handle {
    background-color: #ededed;
}
.rsp-slider-container .rsp-slider-top .rsp-slider-answer {
    color: #ffffff;
}
.rsp-matrix-container .rsp-table > tbody > tr,
.rsp-matrix-container .rsp-table > thead > tr{
    border-bottom-color:#ffffff;
}
@media (max-width: 1000px) {
    .rsp-matrix-container .rsp-table > tbody > tr > td.rsp-formfield  > label{
        background-color: #ffffff;
    }
}


/* ------------------------------------------------------------------- */
/* button: font-size, font-weight, font-style, color, background-color */
/* ------------------------------------------------------------------- */
button.rsp-btn,
button.rsp-btn:hover:active {
    font-size: 16px;
    font-weight: inherit;
    font-style: inherit;
    color: #ffffff;
    background-color: #7a2182;
    border: 1px solid #7a2182;
    height: 48px;
    padding: 0 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-width: 100px;
}

button.rsp-btn:hover {
    color: #7a2182;
    background-color: #ffffff;
}

.rsp-btn-next::after, .rsp-btn-back::before{
    font-family: 'FontAwesome';
    font-size: 26px;
    line-height: 16px;
    content: " \f0da";
    position: relative;
    left: 8px;
    top: 4px;
}
.rsp-btn-back::before{
    content: " \f0d9";
    left: -8px;
}


/* ------------------------------------------------------------------- */
/* progress bar */
/* ------------------------------------------------------------------- */

.rsp-progress-container {
    clear: both;
}

.rsp-progress {
    background-color: #F0F0F0;
}
.rsp-progress-bar {
    background-color: #7a2182;
}
.rsp-progress-label {
    display: none;
}



/* -------------------------------------------- */
/* ----- radio / checkboxes form overlays ----- */
/* -------------------------------------------- */

/* Overwrites values from DefaultVariables.css */

.rsp-radio:not(old):not(.rsp-hide) + label:before,
.rsp-checkbox:not(old):not(.rsp-hide) + label:before
{
    background-color: #ffffff; /* Background Color */
    border-color: #767676; /* Question Color */
}

.rsp-checkbox:not(old):not(.rsp-hide) + label:before
{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
body.rsp-notouch .rsp-checkbox:not(old):not(.rsp-hide) + label:hover:before
{
    background-color: #7a2182; /* Background Color */
    border-color: #7a2182;
    color:#ffffff; /* Highlight Color */
}
.rsp-checkbox:not(old):not(.rsp-hide):checked + label:before
{
    color: #7a2182; /* Background Color */
    border-color: #7a2182; /* Highlight Color */
    background-color: #ffffff; /* Highlight Color */
}
body.rsp-notouch .rsp-checkbox:not(old):not(.rsp-hide):checked + label:hover:before
{
    color: #7a2182; /* Background Color */
    border-color: #7a2182; /* Highlight Color */
    background-color: #ffffff; /* Highlight Color */
}
body.rsp-notouch .rsp-radio:not(old):not(.rsp-hide) + label:hover:before
{
    background: #ffffff;
    width: 5px;
    height: 5px;
    border-width: 7px;
    border-color: #7a2182;
    box-shadow: none;
}
.rsp-radio:not(old):not(.rsp-hide):checked + label:before
{
    border-color: #7a2182; /* Highlight Color */
    background: #7a2182; /* Background Color */
}
body.rsp-notouch .rsp-radio:not(old):not(.rsp-hide):checked + label:hover:before
{
    border-color:#7a2182; /* Highlight Color */
    background: #7a2182; /* Background Color */
}

@media (max-width: 1000px) {

    .rsp-radio:not(old) + label:before,
    .rsp-checkbox:not(old) + label:before
    {
        background-color: #ffffff; /* Background Color */
        border-color: #767676; /* Question Color */
    }

    .rsp-checkbox:not(old):not(.rsp-hide) + label:before
    {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    body.rsp-notouch .rsp-checkbox:not(old) + label:hover:before
    {
        background-color: #7a2182; /* Background Color */
        border-color: #7a2182;
        color:#ffffff; /* Highlight Color */
    }
    .rsp-checkbox:not(old):checked + label:before
    {
        color: #ffffff; /* Background Color */
        border-color:#7a2182; /* Highlight Color */
        background-color:#7a2182; /* Highlight Color */
    }
    body.rsp-notouch .rsp-checkbox:not(old):checked + label:hover:before
    {
        color: #ffffff; /* Background Color */
        border-color:#7a2182; /* Highlight Color */
        background-color:#7a2182; /* Highlight Color */
    }
    body.rsp-notouch .rsp-radio:not(old) + label:hover:before
    {
        background: #ffffff;
        width: 5px;
        height: 5px;
        border-width: 7px;
        border-color: #7a2182;
        box-shadow: none;
    }
    .rsp-radio:not(old):checked + label:before
    {
        border-color:#7a2182; /* Highlight Color */
        background: #7a2182; /* Background Color */
    }
    body.rsp-notouch .rsp-radio:not(old):checked + label:hover:before
    {
        border-color:#7a2182; /* Highlight Color */
        background: #7a2182; /* Background Color */
    }

}



/* --------------------------------------*/
/* ---------- RADIOS / CHECKBOXES ---------- */
/* --------------------------------------*/

/* Overwrites values from Elements.css */

.rsp-radio:not(old):not(.rsp-hide) + label:before,
.rsp-checkbox:not(old):not(.rsp-hide) + label:before {
  content: '';
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 2px;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-left: 0;
}

.rsp-radio:not(old):not(.rsp-hide):checked + label:before,
body.rsp-notouch .rsp-radio:not(old):not(.rsp-hide):checked + label:hover:before {
    width: 15px;
    height: 15px;
    border-width: 1px;
    box-shadow: inset 0px 0px 0px 4px #ffffff; /* Background Color */
}
@media (max-width: 1000px) {
  .rsp-radio:not(old) + label:before,
    .rsp-checkbox:not(old) + label:before {
      content: '';
      border-width: 1px;
      border-style: solid;
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      padding: 2px;
      text-align: left;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
    
    .rsp-radio:not(old):checked + label:before,
    body.rsp-notouch .rsp-radio:not(old):checked + label:hover:before {
        width: 15px;
        height: 15px;
        border-width: 1px;
        box-shadow: inset 0px 0px 0px 4px #ffffff; /* Background Color */
    }
}





/* ================ */
/* = Input fields = */
/* ================ */

input.rsp-text,
textarea.rsp-textarea {
    border: 1px solid #767676;
    padding: 6px 12px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input.rsp-text:focus,
textarea.rsp-textarea:focus {
    border: 1px solid #7a2182;
    padding: 6px 12px;
}


/* ----------------------------*/
/* ---------- RANKORDER QUESTIONS ---------- */
/* ----------------------------*/
.rsp-rank-order-container .rsp-rankorder-separator {
  clear: both;
  border-top: dashed #c19ace 2px;
  margin-bottom: 5px;
}

.rsp-rank-order-container ul.rsp-rankorder-droparea {
  border: 1px solid #C2EBD6;
  background-color: #E0F5EB !important;
}
.rsp-rank-order-container ul > li {
  min-height: 48px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  background-color: #c19ace;
  padding: 12px 24px 12px 12px;
  position: relative;
  margin-bottom: 5px;
}
.rsp-rank-order-container ul > li:last-child {
  margin-bottom: 0;
}
.rsp-rank-order-container ul > li .rsp-rankorder-rate {
  color: #525199;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
}
.rsp-rank-order-container ul > li.not-sortable {
  cursor: default;
}
.rsp-rank-order-container ul.rsp-rankorder-no-items {
  background-color: transparent;
  border: 1px dotted #c19ace;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.rsp-rank-order-container ul.rsp-rankorder-ranked.rsp-rankorder-no-items {
  margin-bottom: 10px;
}
.rsp-rank-order-container ul.rsp-rankorder-ranked li {
  background-color: #c19ace;
}
.rsp-rank-order-container ul.rsp-rankorder-ranked .rsp-rankorder-rate {
  visibility: visible;
}
.rsp-rank-order-container ul.rsp-rankorder-ranked .rsp-rank-order-placeholder {
  background-color: #C2EBD6;
  box-sizing: content-box;
}
.rsp-rank-order-container ul.rsp-rankorder-unranked.rsp-rankorder-no-items {
  margin-top: 10px;
}
.rsp-rank-order-container ul.rsp-rankorder-unranked .rsp-rankorder-rate {
  visibility: hidden;
}
.rsp-rank-order-container ul.rsp-rankorder-unranked .rsp-rank-order-placeholder {
  height: 0;
  background-color: #D1D8DB;
}
.rsp-rank-order-container ul.ui-sortable-disabled li {
  cursor: default;
}





/* ========== */
/* = Slider = */
/* ========== */


.rsp-slider-container .rsp-slider{
    background-color: #d9d9d9;
}
.rsp-slider-container .rsp-slider-top .rsp-slider-answer{
    border-color: transparent;
    background-color: transparent;
    color: #7a2182;
}
.rsp-slider-container .rsp-slider-top .rsp-slider-answer:after,
.rsp-slider-container .rsp-slider-top .rsp-slider-answer:before{
    border-top-color: #7a2182;
}





/* ----------------------------*/
/* ---------- ERRORS ---------- */
/* ----------------------------*/
ul.rsp-validation-result {
  min-height: 36px;
  clear: both;
  /*IE7*/
}

ul.rsp-validation-result,
ul.rsp-validation-result ul {
  font-size: 12px;
  color: #ff0000;
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  clear: both;
  /*IE7*/
}

ul.rsp-validation-result li {
  padding-top: 8px;
  color: #ff0000;
}

.rsp-single-container input.rsp-error:not(old),
.rsp-multiple-container input.rsp-error:not(old),
.rsp-matrix-container input.rsp-error:not(old),
input.ng-invalid,
textarea.ng-invalid {
  border: 1px solid #ff0000 !important;
}

.rsp-question.rsp-error {
  border-color: none;
}